extends ../layout.pug
block body
  h1 Hello, #{user_id}!
    p this is my first change for git
    form.form-inline(method="POST" action="/users/" + user)
      div.form-group
        input.form-control(type="text" name="user" value=user)
      button#add.btn.btn-default Submit
